html, body {height: 100%; min-width: 1005px;}
body {height: 100%; font-family: "SimSun","ו","Arial Narrow", Arial, Helvetica, sans-serif; font-size: 15px; margin: 0; padding: 0; background:#E2D7C4 url(../images/bg_lt_leftsideOne.png) repeat-y left; }
	p {padding: 0; margin: 0;}
	ul, li {list-style: none; padding: 0; margin: 0;}
	img {border: none;}
	h1, h2, h3, h4, h5 {padding: 0; margin: 0;}
	.left {float: left;}
	.right {float: right;}
	.red {color: #C61B1B;}
	.green {color: #98B22B; }
	.smltxt {font-size: 11px;}
	.hoverimg {background: #ccc; padding: 3px; float: left;}
		.hoverimg:hover {cursor: pointer; background: #e4e4e4;}
	
	.clear {clear: both;}
	.hidden {display:none;}

	/* Header Elements */
	
	#header {width: 100%; height: 158px;background: #353535 url(../images/headerbg.jpg) repeat-x bottom;}
		#header .imgLeft {height: 158px;float:left;}
		#header .imgRight {height: 158px;float: right;}
		#header h1 {height: 158px; white-space:nowrap;font-size: 50px;text-shadow: #AAA 3px 3px 3px;color: #99cc00; padding-top: 40px; }
		
	/* Top Breadcrumb */	
	
	#breadcrumb {height: 84px; background: url("../images/bg_breadcrumb.png") repeat-x scroll center top transparent; margin: 92px 0 0 310px;  padding: 12px 0 8px 35px; text-shadow: 1px 1px 1px #e4e4e4;}
			#breadcrumb li {float: left; padding-right: 5px;}
			#breadcrumb li.current {font-weight: 700; font-size: 14px;}
				#breadcrumb a {color: #666; text-decoration: none;}
					#breadcrumb a:hover {color: #333;}
		#breadcrumb .language{float:right; margin-top: -8px; margin-right: 20px;}
		
		#breadcrumb .map {float: right; margin-right: 100px; }
		#breadcrumb .map img {width: 228px; float: left;}
		#breadcrumb .map h2 {float: left; padding: 8px;}
		
#noLoginBreadcrumb{height: 84px; background: url("../images/bg_breadcrumb.png") repeat-x scroll center top transparent; margin: 92px 0 0 0;  padding: 12px 0 8px 35px; text-shadow: 1px 1px 1px #e4e4e4;}
	#noLoginBreadcrumb .language{float:right; margin-top: -8px; margin-right: 20px;}				
	/* Left Side/Navigation Elements */	
	
	#leftside {width: 309px;  height:115%;background: url("../images/bg_lt_leftside.png") repeat-y scroll center top #009A35; position: absolute; top: 250px; border-right:1px solid #fff; padding-top: 10px;}
	
	/* Top User Info Box */
	
		.user, .notifications {width:257px; padding: 15px; color: #ccc; overflow: auto; text-shadow: 1px 1px 1px #111; background: url(../images/img/bg_left_spacer.png) repeat-x bottom;}
			.user img {float: left; margin: 5px 15px 10px 0;}
			.username {color: #fff; font-size: 25px; font-weight:700; letter-spacing: -1px; padding-bottom: 5px;}
			.userbtn {text-shadow: none; float: left; padding-right: 5px; text-align: center;}
				.userbtn a {display: block; color: #000; text-shadow: 1px 1px 1px #eee; font-size: 11px; width: 103px; height:42px;background: url(../images/img/btn_logout_ico.png) no-repeat scroll center top transparent;  text-decoration: none; border-radius: 5px; -moz-border-radius: 5px;}
					.userbtn a:hover {color: #fff; background:url(../images/img/btn_logout_ico.png) no-repeat scroll center top transparent; text-shadow: none;}
		
	/* Navigation Elements */
	
		ul.navigation {width: 225px; color: #fff;}
			ul.navigation li a {font-weight: 700;line-height: 1.2em;cursor: pointer;text-shadow: 1px 1px 1px #0D2C35; text-align:center;font-size:16px;background: url(../images/img/NO-2-2.png) no-repeat top; outline: none; width: 290px; display: block; color: #fff; text-decoration: none; padding: 10px; height: 15px;letter-spacing:3px;font-family:SimHei; }
				ul.navigation li a:hover {color: #ccc; background: url(../images/img/NO-2-2.png) no-repeat top; }

			ul#nav li a.heading, a.collapsed, a.expanded{line-height: 1.2em; width: 290px; font-size: 22px; font-weight: 700; padding: 9px 10px; display: block; color: #fff; cursor: pointer;text-decoration: none;letter-spacing:1.2px;font-family:SimHei;}
			ul#nav li  ul.navigation li.selected{line-height: 1.2em; width: 290px; font-size: 16px; font-weight: 700; padding: 10px; display: block;  cursor: pointer;text-decoration: none;letter-spacing:3px;font-family:SimHei;color:#98FB98  }
			ul.navigation li.selected {width: 290px; z-index: 2; position: relative; padding: 10px;}
			
	/* Main Content/Right Side */
	
	#rightside {height: 100%; margin: 20px 20px 0 320px; min-width: 780px;} 
	
		.contentcontainer {margin-bottom: 20px;}
		
			.headings {padding: 0 20px; border: 1px solid #CACACA; text-shadow: 1px 1px 1px #fff; background: #EAEAEA url(../images/img/bg_heading.png) repeat-x top; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-topright: 10px; 	-moz-border-radius-topleft: 10px; letter-spacing: -1px; height: 45px;}
				.headings h2 {padding-top: 10px; font-size: 20px;}
			.contentbox {border: 1px solid #fff; padding: 15px; background: #fff url(../images/img/bg_fade_med.png) repeat-x top; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px;}	
			.nopad {padding: 0;}
			.contentbox p {padding-bottom: 15px;}
			.contentbox a, #notificationsbox a {color: #666;}
				.contentbox a:hover, #notificationsbox a:hover {color: #333;}
		
		ul.smltabs {float: right; padding-top: 20px;}
		ul.smltabs li {float: left;}
		
		/*
		.ui-tabs .ui-tabs-nav li a {position: relative; z-index: 3; display: block; text-decoration: none; float: left; background: #313131; border-top-left-radius: 10px; border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -moz-border-radius-topleft: 10px; padding: 5px 20px; margin-left: 2px; font-weight: 700; color: #fff; text-shadow: none; outline: none;}
		.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {background: #fff; color: #666; top: 1px; outline: none;}
		.ui-tabs .ui-tabs-hide {display: none;}
		.ui-tabs .ui-tabs-panel {background-image: none;}
		*/

		ul.pagination {float: right; font-size: 11px; clear: both;}
			ul.pagination li {float: left; padding-right: 5px;}
				ul.pagination li a {padding: 3px 7px; border: 1px solid #ccc; text-decoration: none; border-radius: 5px; -moz-border-radius: 5px; display: block; background: #fff url(../images/img/bg_fade_up.png) repeat-x bottom;}
				ul.pagination li.page a {color: #fff; font-weight: 700;}
					ul.pagination li.page a:hover {color: #fff;}
				ul.pagination li.text a {border: none; text-decoration: underline; padding: 0 5px 0 0;}
				ul.pagination li.text {line-height: 2em;}
			
	/* Notice Boxes */
	
	
	.noticebox { border: 1px solid #ccc;background: #D8D8D8 url(../images/img/bg_noticebox_grey.png) repeat-x top;margin: 10px;}
	
	.innernotice {padding: 15px; border: 1px solid #fff; background: none;}
	
				
	/* Alternative Box Widths */
	
	.med {width: 60%;}
	.sml {width: 38%;}
			
	/* Table Styles */
	
	table {border-collapse: collapse;}
		th,td {text-align: left; padding: 8px;}
		th {background: #E0E0E0 url(../images/img/bg_th.png) repeat-x top; text-shadow: 1px 1px 1px #fff; font-size: 14px;}
		tr.alt td{background: #F2F2F2 url(../images/img/bg_td_alt.png) repeat-x top; text-shadow: 1px 1px 1px #fff;}
		
	.tableHover{}
	.tableHover tr:hover{ background-color:#D8D8D8;}
		
	.extrabottom {padding: 15px; height: 40px; background: url(../images/img/bg_fade_sml.png) repeat-x top; border-radius: 10px; -moz-border-radius: 10px; margin-top: 10px;}
		.extrabottom ul {float: left;}
			.extrabottom li {float: left; padding-right: 25px;}
				.extrabottom li img {float: left; padding: 0 5px 0 0;}
		.bulkactions {float: right;}
		
	/* Input/Form Styles */
	
	select {padding: 7px 10px; border: 1px solid #ccc; border-radius: 5px; -moz-border-radius: 5px;}
	label {padding-right: 20px; display: block; padding-bottom: 10px;}
	input, textarea {font-family: Arial, Helvetica, sans-serif;}
	.inputbox {border: 1px solid #999; padding: 10px; width: 300px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom: 5px; color: #666; background: url(../images/img/bg_fade_sml.png) repeat-x top;}
	.inputbox-readonly { background: #F4F4F4;} 
		.inputbox:focus {border: 1px solid #666;}
	.errorbox {border: 1px solid #CC0000; background: #FCF0EF url(../images/img/bg_fade_red_sml.png) repeat-x top; color: #CC0000; margin-right: 5px;}
		.errorbox:focus {border: 1px solid #8A0000;}
	.correctbox {border: 1px solid #9DB832; background: #F3F8E0 url(../images/img/bg_fade_green_sml.png) repeat-x top;; color: #9DB832; margin-right: 5px;}
		.correctbox:focus {border: 1px solid #7C9227;}
	.smallbox {width: 150px;}

	/* Status Bars */
	
	.status {padding: 8px 10px 5px 10px; border-radius: 10px; -moz-border-radius: 10px; text-shadow: 1px 1px 1px #fff; overflow: auto; margin-bottom: 20px; clear: both;}
		.status img {float: left; padding-right: 5px;}
		.status p {padding: 0; margin: 0;}
		.status p span {font-weight: 700;}
		.status .closestatus {float: right; color: #fff; text-align: center; margin-left: 10px;}
			.status .closestatus a {position: relative; color: #fff; text-decoration: none; padding: 5px; width: 10px; height: 10px; display: block; border-radius: 5px; -moz-border-radius: 5px; line-height: .6em; top: -2px; text-shadow: none;}
	
	.warning {border: 3px solid #BF9900; background: #FEEB9C url(../images/img/bg_fade_yellow_med.png) repeat-x top;}
		.warning span {color: #BF9900;}
		.warning .closestatus a {background: #BF9900;}
			.warning .closestatus a:hover {background: #9B7C00;}
			
	.success {border: 3px solid #8EA534; background: #CBDA8F url(../images/img/bg_fade_green_med.png) repeat-x top;}
		.success span {color: #8EA534;}
		.success .closestatus a {background: #8EA534;}
			.success .closestatus a:hover {background: #829829;}
			
	.error {border: 3px solid #990000; background: #F5D0CD url(../images/img/bg_fade_red_med.png) repeat-x top;}
		.error span {color: #990000;}
		.error .closestatus a {background: #990000;}
			.error .closestatus a:hover {background: #730D0D;}
	
	label.error {border:0px;background:inherit; color: Red;}
	
	.info {border: 3px solid #2FADD7; background: #92D6ED url(../images/img/bg_fade_blue_med.png) repeat-x top;}
		.info span {color: #0E7A9F;}
		.info .closestatus a {background: #2FADD7;}
			.info .closestatus a:hover {background: #228DB0;}
			
	
	/* Text Styling Elements */
	
	ul.list li {background: url(../images/img/icons/icon_bullet.png) no-repeat left; padding-left: 25px; margin-bottom: 5px;}
	ul.ticklist li {background: url(../images/img/icons/icon_ticklist.png) no-repeat left; padding-left: 25px; margin-bottom: 5px;}
		ul.ticklist li.cross {background: url(../images/img/icons/icon_cross_sml.png) no-repeat left;}
	
	.highlighted {color: #DFB300; background: #FFF8CF; font-weight: 700; padding: 4px 7px; text-shadow: 1px 1px 1px #fff; border-radius: 5px; -moz-border-radius: 5px;}
	.spacer {background: url(../images/img/bg_fade_up.png) repeat-x center; padding: 10px 0; margin-bottom: 10px;}
	
	.dropcap {letter-spacing:0;  text-transform:uppercase;  color:#628fbe;   font-family:times,serif;   font-size:3.5em;   float:left;   margin: 0.13em 0.2em 0 0;  line-height:0.7;}	
	
	
	/* Footer */
	
	#footer {font-size: 11px; padding: 15px 10px; clear: both; background: url(../images/img/bg_footer.png) repeat-x bottom; margin-bottom: 20px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; text-shadow: 1px 1px 1px #fff;}

	/* Tools */
	.a-center {text-align:center;}
	.m-center { width:900px; margin:0 auto; }
	
	
	
.log_lt_leftside {
    background: url("../images/bg_log_lt_leftside.png") no-repeat scroll 0 0 transparent;
    height: 78px;
    width: 302px;
}
	
	